/* global settings */
body {
    font-family: 'Montserrat', 'Arial', 'sans-serif'
}

.row {
    width: 100%;
}

.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    outline: 2px solid blue;
}

/* HEADER */
.header {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    color: #ffffff;
    height: 890px;
}

.header__menu {
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-evenly
}

.nav__item {
    padding: 60px 30px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.header__hero {}

.hero__content {}

.hero__slogan {
    padding-top: 100px;
    font-size: 45px;
    font-weight: bold;
}

.hero__text {
    width: 60%;
    padding-top: 20px;
    font-size: 21px;
    line-height: 1.5;
}

.cta-btn {
    width: 250px;
    padding: 20px;
    margin-top: 50px;
    background-color: #25F18B;
    border-radius: 10px;
    border: none;
    font-family: Montserrat, Arial, 'sans-serif';
    font-size: 18px;
    color: #ffffff;
}

.hero__img {
    padding: 40px 115px;
}

.hero__img-screen {
    rotate: -6deg;
    border: 18px solid white;
    border-bottom-width: 100px;
    border-radius: 40px;
}

/* MAIN */
/* SECTION FEATURES */

.features {
    background-color: #000000;
    color: #ffffff;
}

.features__header {
    justify-content: center;
}

.features__header-title {
    padding: 75px 0;
    font-size: 35px;
}

.features__list {
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
}

.feature {
    flex-basis: 30%;
    text-align: center;
    padding: 10px 11px 110px 11px;
}

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
}

.feature__title {
    padding: 30px 0;
    font-weight: 700;
}

.feature__text {
    line-height: 1.5;
}

/*SECTION COMPANIES */
.companies {
    background-color: #F9FAFA;
}

.companies__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 110px;
}

/* SECTION ABOUT */
.about__container {
    max-width: 1720px;
    height: 825px;
}

.about__item {
    width: 50%;
    padding: 75px 20px;
}

.about__content {
    padding: 120px 130px;
}

.about__title {
    font-size: 38px;
}

.about__text {
    padding-top: 60px;
    padding-right: 99px;
    font-size: 19px;
    line-height: 1.75;
}

/* SECTION PRICING */
.pricing {
    height: 930px;
    background-color: #F9FAFA;
}

.pricing__header {
    flex-direction: column;
    align-items: center;
}

.pricing__title {
    padding-top: 95px;
    font-size: 35px;
}

.pricing__sub-title {
    padding: 25px 0;
    font-size: 22px;
}

.pricing__plan {
    justify-content: space-between;
    padding: 105px 80px;
}

.pricing__plan-item {
    width: 30%;
    height: 500px;
    text-align: center;
}

.pricing__text-bold {
    font-size: 50px;
    font-weight: 900;
}

.pricing__details {
    height: 160px;
    padding: 40px 0;
}

.detail {
    font-size: 18px;
    font-weight: 600;
}

.detail::before {
    content: '\2713';
    padding-right: 10px;
    color: #25F18B;
}

.cta-btn--blue {
    width: 200px;
    background-color: #0ABCEB;
}

.plan__agency {
    border-radius: 10px;
    box-shadow: 0 0 25px 1px rgb(199, 197, 197);
}

/* SECTION TEAM */
.team {
    height: 840px;
}

.team__header {
    justify-content: center;
}

.team__title {
    padding-top: 100px;
    font-size: 35px;
}

.team__members {
    justify-content: center;
    align-items: center;
    padding: 120px 150px;
}

.member {
    width: 33.333%;
    text-align: center;
}

.member__photo {
    width: 40%;
}

.member__position {
    padding-top: 50px;
    font-size: 25px;
}

.member__name {
    font-weight: 600;
    line-height: 2;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 120px;
}

.icon-twitter {
    width: 20px;
}

.icon-facebook {
    width: 10px;
}